*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.row _{
  position: relative;
}

.clear:after{
  clear:both;
  content: "";
  display: block;
}



.navbar {
  overflow: hidden;
  background-color: #D7F9FF;
  font-family: Arial;
  color: #D7F9FF;
  vertical-align: center
  margin: 0px 0px 0px 0px;
  width: 100%;
  opacity: 1;
  border: none;
  font-color: white;
}


/* Links inside the navbar */
.navbar a {
  display: block;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 0px;
  text-decoration: none;
}


img {
  text-align: center;
  border-style: none;
}

.container-fluid {
  padding: 0px;
  overflow-x: hidden;
}

#home-container {
  /*padding: 4rem 2rem;*/
}

#display-container {
  background-color: none;
  text-align: center;
  width: 600px;
  height: 350px;
  border-style: inset;
  margin-left: 280px;
  
}


.section {
  background-color: none;
  font-style: 'Libre Baskerville', serif, Arial;

  margin: auto;
  color: white;
}




#main-container {
  background-color: #1D8A99;

  padding-top: 100px;
  position: relative;
  width: 100%;
}


.jumbotron {
  height: 100vh;
  padding-top: 20%;
  background-image: url(../images/backgroundphoto.jpg);
  background-repeat: none;
  background-size: cover;
  width: 100%;
  position: relative;
  border-style: groove;
  border-radius: 25px;
}


#display-container {
  opacity: 1;
  padding: 0px;
  font-family: 'Libre Baskerville', serif;
  width: 300px;
  height: auto;
  margin: auto;
  top: 0;
  bottom: 0;
  border-style: groove;
  max-width: 100%;
  border-radius: 25px;
}



.intro {

}



.card {
  background-color: #1D8A99;
  width: 18rem;
  padding: 60px;
}

.card-img-top {
  padding: 30px;
  background-color: white;
}

.card-body {
  border-top: ridge;
  float: left;
  background-color: white;
}

.card-text {
  float: left;
}


.personal {
   margin-top: 30px;
   margin-left: 50px;
}



.skill {
   margin-top: 20px;
   margin-left: 50px;
}

.education {
   margin-top: 20px;
   margin-left: 50px;
}

.work {
  margin-top: 20px;
  margin-left: 50px;
}

.projects {

}

.contact {
  margin-top: 20px;
  margin-left: 70px;
}

.form-group {
  margin-top: 15px;
  margin-left: 52px;
}

.btn {
  margin-left: 52px;
  background-color: silver;
  color: black;
  border-radius: 25px;
  border-style: groove;
}

.footer {
  background-color: #0E1C36;
  text-align: center;
  position: relative;
  padding-right: 130px;
  margin-right: 180px;

}

.accessbtn {
  background-color: silver;
  border-radius: 25px;
  border-style: groove;
}


#accessbtns {
  background-color: silver;
  border-radius: 25px;
  text-decoration: none;
}

a:hover {
  color: #00A0C6; 
  cursor: pointer;
}

.fa-arrow-circle-right {
  color: #1D8A99;
}

i {
  color: white;
}

h4 {
  text-align: center;
}

.card-text {
  text-align: left;
  margin-left: 5px;
}

p {
  margin-left: 170px;
}

ul {
  margin-left: 170px;
}

li {
  margin-left: 30px;
}

/* responsive part */
/* mobile */
@media only screen and (max-width:450px){

   .container {
    max-width: 450px;
   }
   .col-sm-1 { width: 8.33%; }
   .col-sm-2 { width: 16.66%; } /* don't round this up */
   .col-sm-3 { width: 25%; } /* round this up */
   .col-sm-4 { width: 33.33%; }
   .col-sm-5 { width: 41.66%; }
   .col-sm-6 { width: 50%; }
   .col-sm-7 { width: 58.33%; }
   .col-sm-8 { width: 66.66%; }
   .col-sm-9 { width: 75%; }
   .col-sm-10 { width: 83.33%; }
   .col-sm-11 { width: 91.66%; }
   .col-sm-12 { width: 100%; }
}

/* tablet-default-widths */
@media only screen and (min-width:451px) and (max-width: 2300px) {
   .container {
    max-width: 2300px;
    min-width: 451px;
   }

   .col-md-1 { width: 8.33%; }
   .col-md-2 { width: 16.66%; } /* don't round this up */
   .col-md-3 { width: 25%; } /* round this up */
   .col-md-4 { width: 33.33%; }
   .col-md-5 { width: 41.66%; }
   .col-md-6 { width: 50%; }
   .col-md-7 { width: 58.33%; }
   .col-md-8 { width: 66.66%; }
   .col-md-9 { width: 75%; }
   .col-md-10 { width: 83.33%; }
   .col-md-11 { width: 91.66%; }
   .col-md-12 { width: 100%; }
}

/* desktop */
@media only screen and (min-width:2301px){
   /* starting at 2301px or more, it will stay at center*/
   .container {
    width: 2301px;
    
   }

   .col-lg-1 { width: 8.33%; }
   .col-lg-2 { width: 16.66%; } /* don't round this up */
   .col-lg-3 { width: 25%; } /* round this up */
   .col-lg-4 { width: 33.33%; }
   .col-lg-5 { width: 41.66%; }
   .col-lg-6 { width: 50%; }
   .col-lg-7 { width: 58.33%; }
   .col-lg-8 { width: 66.66%; }
   .col-lg-9 { width: 75%; }
   .col-lg-10 { width: 83.33%; }
   .col-lg-11 { width: 91.66%; }
   .col-lg-12 { width: 100%; }

}